<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="TemplateMo">
  <link href="{% static 'https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900'%}"
    rel="stylesheet">

  <title>Online Learning Platform</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
  <link rel="stylesheet" href="{% static 'css/templatemo-edu-meeting.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.css' %}">
  <link rel="stylesheet" href="{% static 'css/lightbox.css' %}">
  <link rel="stylesheet" href="{% static 'css/s.css' %}">
  <link rel="stylesheet" href="{% static 'css/app/teams.css' %}">
  <link rel="stylesheet" href="{% static 'css/app/coursedetails.css' %}">

</head>

<body>

  <!-- Sub Header -->
  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8">
          <div class="left-content">
            <p>This is an Educational Online Website <em>  Designed by Arjun Official</em> For Student Enrollment And Course Selection</p>
          </div>
          
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="right-icons">
            <ul>
              <li><a href="https://www.facebook.com/arjun.dhungel.961"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://www.youtube.com/@ArjunDhungel6654"><i class="fa fa-youtube"></i></a></li>
              <li><a href="https://www.instagram.com/arjun.dhungel.6654/"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav d-flex align-items-center">
            <!-- ***** Logo Start ***** -->
            <a href="index.html" class="logo">
              Online Enrollment
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
              <li class="scroll-to-section"><a href="#CollegeList">College List</a></li>
              <li class="scroll-to-section"><a href="#apply">Apply Now</a></li>
              <li class="has-sub">
                <a href="javascript:void(0)">View</a>
                <ul class="sub-menu">
                  <li class=""><a href="{% url 'coursedetails' %}" target="_blank">Courses details</a>
                  </li>
                  <li class=""><a href="{% url 'teams' %}" target="_blank">Our Teams</a></li>
                </ul>
              </li>
              <li class="scroll-to-section"><a href="#courses">Courses</a></li>
              <li class="scroll-to-section"><a href="#contact">Contact Us</a></li>
            </ul>

            <!-- Login and Register buttons moved to the right -->
            <div class="d-flex gap-3 px-3 ms-auto">
              {% if request.user.is_authenticated %}
              <a href="{% url 'log_out' %}">
                <button data-label="Register" class="rainbow-hover">
                  <span class="sp">Log out</span>
                </button>
              </a>
              {% else %}
              <a href="{% url 'log_in' %}">
                <button data-label="Register" class="rainbow-hover">
                  <span class="sp">Login</span>
                </button>
              </a>
              <a href="{% url 'register' %}">
                <button data-label="Register" class="rainbow-hover">
                  <span class="sp">Register</span>
                </button>
              </a>
              {% endif %}
            </div>

            <a class='menu-trigger'>
              <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  {% block content %}

  {% endblock content %}

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <script src="{% static 'js/isotope.min.js' %}"></script>
  <script src="{% static 'js/owl-carousel.js' %}"></script>
  <script src="{% static 'js/lightbox.js' %}"></script>
  <script src="{% static 'js/tabs.js' %}"></script>
  <script src="{% static 'js/video.js' %}"></script>
  <script src="{% static 'js/slick-slider.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>
  <script>
    $('.nav li:first').addClass('active');

    var showSection = function showSection(section, isAnimate) {
      var
        direction = section.replace(/#/, ''),
        reqSection = $('.section').filter('[data-section="' + direction + '"]'),
        reqSectionPos = reqSection.offset().top - 0;

      if (isAnimate) {
        $('body, html').animate({
          scrollTop: reqSectionPos
        },
          800);
      } else {
        $('body, html').scrollTop(reqSectionPos);
      }
    };

    var checkSection = function checkSection() {
      $('.section').each(function () {
        var
          $this = $(this),
          topEdge = $this.offset().top - 80,
          bottomEdge = topEdge + $this.height(),
          wScroll = $(window).scrollTop();
        if (topEdge < wScroll && bottomEdge > wScroll) {
          var
            currentId = $this.data('section'),
            reqLink = $('a').filter('[href*=\\#' + currentId + ']');
          reqLink.closest('li').addClass('active').
            siblings().removeClass('active');
        }
      });
    };

    $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
      e.preventDefault();
      showSection($(this).attr('href'), true);
    });

    $(window).scroll(function () {
      checkSection();
    });
  </script>
</body>

</html>